#head1{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    vertical-align: middle;

}

body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#feed{
    display: block;


}

#photo1, #photo2, #photo3, #photo4{
    background-color: white;
    height:min-content;
    width: min-content;
    margin-top: 40px; 
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}



#photo1head, #photo2head, #photo3head, #photo4head{
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#photo1comment, #photo2comment, #photo3comment, #photo4comment{
    margin-left:10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: justify;
}

#photo1date, #photo2date, #photo3date, #photo4date{
    color: grey;
}
